body {
    background-color: var(--cor-fundo);
}

/* HEADER */

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.cabecalho img:nth-child(2) {
    width: 50px;
    height: 50px;
}

/* MAIN */

main {
    margin: 75px 120px 75px 120px;
}

.perfil {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.perfil-imagem {
    display: flex;
    align-items: center;
    gap: 22px;
}

.estatisticas {
    display: flex;
    gap: 10px;
}

.estatisticas a {
    text-decoration: none;
    color: var(--texto);
}

.configuracao {
    display: flex;
    height: fit-content;
    gap: 20px;
}

.configuracao button {
    background: none;
    border: none;
    cursor: pointer;
}

/* MINHAS PLAYLIST */

h2 {
    font-size: 40px;
    font-weight: bold;
    margin-top: 75px;
    border-bottom: 2px solid black;
}

.playlist {
    display: flex;
    justify-content: space-around;
    padding: 52px;
}


.album {
    padding: 10px 10px 21px 10px;
    border: 2px solid var(--cor-borda);
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.album:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}

.album h3,
.album p {
    padding: 10px 10px 0px 10px;
}

.album img {
    border-radius: 0px;
}

.artistas {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.artista {
    display: flex;
    flex-direction: column;
    align-items: center;

    cursor: pointer;
}

/* FOOTER */

.footer-categorias {
    display: flex;
    justify-content: space-around;
    border-top: 2px solid black;
    margin: 50px 120px 0;
    padding: 40px 0;
}

.footer-categorias h4 {
    font-size: 18px;
    margin-bottom: 15px;
}

.footer-categorias p {
    margin: 8px 0;
    cursor: pointer;
}

.footer-categorias p:hover {
    text-decoration: underline;
}

.footer-informacoes {
    display: flex;
    justify-content: space-around;
}

.footer-informacoes {
    gap: 20px;
}

.footer-bottom {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    margin: 50px 120px 0px 120px;
}