@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --cor-fundo: #FDFCFC;
    --cor-destaque-vermelho: #892805;
    --cor-destaque-azul: #587B7F;
    --cor-borda: #CCCCCC;

    --texto: #000000;

    --border-input: 25px;
    --border-botao: 25px;
    --border-cards: 10px;
}

html
{
    scroll-behavior: smooth;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    background-color: #FFFFFF;
    color: var(--texto);
}

.cabecalho
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0 120px;
    padding: 25px 0;
    border-bottom: 2px solid #000;
}

