.btn-entrar-login 
{
    text-decoration: none;
    font-weight: 600;
    color: var(--cor-destaque-vermelho);

    border: 1px solid var(--cor-destaque-vermelho);
    border-radius: var(--border-botao);

    padding: 10px 25px;
}

.btn-entrar-login:hover
{
    transform: scale(1.025);
    transition: 100ms;
}

.conteudo 
{
    padding: 0 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 80vh;
}

.cadastro 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
    text-align: center;

    margin: auto;
    width: 100%;
    max-width: 760px;

    position: relative;
}

.progresso-cadastro 
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.progresso-cadastro p
{
    font-size: 1.2em;
}

.barra-progresso 
{
    background-color: var(--cor-destaque-vermelho);
    width: 100px;
    height: 10px;
    border-radius: 100px;
}

.titulo-cadastro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.seta-voltar
{
    position: absolute;
    text-decoration: none;
    color: #000000;
    left: 0px;
}

.titulo-cadastro h1 
{
    font-size: 2.5em;
    max-width: 550px;
    font-weight: 700; 
}

.cadastro form 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 20px;
    width: 100%;
    max-width: 500px;
}

.sessao-input 
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 10px;

    width: 100%;
}

.sessao-input label 
{
    font-weight: 600;
}

.sessao-input input 
{
    height: 50px;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #a0a0a0;
    outline: none;

    padding-left: 10px;

    display: flex;

    font: inherit;
}

.sessao-input input::placeholder 
{
    font-style: italic;
}

.sessao-input select
{
    height: 50px;
    width: 100%;

    border-radius: 10px;
    border: 1px solid #a0a0a0;
    outline: none;

    padding-left: 10px;

    display: flex;

    background-color: #ffffff;
    color: #757575;
    font-size: 1.1em;
    font-style: italic;
}

.txt-termos-privacidade
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;
    
    width: 100%;
    color: #494949;

    margin-bottom: 10px;

    font-size: .9em;
}

.txt-termos-privacidade a
{
    color: var(--cor-destaque-vermelho);
}

.btn-cadastrar 
{
    background-color: var(--cor-destaque-vermelho);
    
    border: none;
    border-radius: var(--border-botao);
    
    min-height: 45px;
    width: 100%;
    max-width: 500px;
    padding: 10px 16px;
    
    
    font-weight: 700;
    font-size: 1.5em;
    color: #ffffff;

    transition: 100ms;
    cursor: pointer;
}

.btn-cadastrar:hover 
{
    background-color: #a33108;
    transform: scale(1.025);
}

@media (max-width: 768px)
{
    .cabecalho
    {
        margin: 0 50px;
    }

    .cabecalho img
    {
        width: 180px;   
    }

    .sessao-input input,
    .sessao-input select
    {
        min-height: 30px;
    }

    .btn-cadastrar
    {
        max-width: 300px;
        padding: 5px 10px;
        margin-top: 15px;
    }

    .entrar-com p
    {
        font-size: .9em;
    }

    .linha
    {
        width: 50px;
    }

}

@media (max-width: 640px)
{
    .conteudo
    {
        padding: 0 60px;
    }

    .cabecalho img
    {
        width: 150px;
    }

    .btn-entrar-login 
    {
        padding: 5px 20px;
    }

    .titulo-cadastro h1
    {
        font-size: 1.8em;
    }

    .titulo-cadastro p
    {
        font-size: 1em;
    }

    .cadastro form
    {
        max-width: 800px;
    }

    .sessao-input input
    {
        min-height: 20px;
    }

    .btn-cadastrar
    {
        max-width: 300px;
        margin-top: 15px;
    }

    .entrar-com p
    {
        font-size: .9em;
    }

    .linha
    {
        width: 50px;
    }
}

@media (max-height: 750px) {

    .cabecalho 
    {
        padding: 12px 0;
    }

    .conteudo 
    {
        padding-top: 26px;
        padding-bottom: 16px;
    }

    .cadastro 
    {
        gap: 18px;
    }

    .titulo-cadastro 
    {
        gap: 8px;
    }

    .titulo-cadastro h1 
    {
        font-size: 1.875rem;
    }

    .titulo-cadastro p 
    {
        font-size: 1rem;
    }

    .cadastro form 
    {
        gap: 12px;
    }
}